<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${sectionName}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="css/community.css" />
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/w3.js"></script>
<script type="text/javascript" src="js/navigation.js"></script>
</head>
<body>
	<div w3-include-html="navigation.html"></div>
	<div class="container-fluid main profile">
		<div class="row">
			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="que">
					
				</div>	
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="rep">
					
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<nav aria-label="Page navigation">
							<ul class="pagination" id="pageId">
							</ul>
					</nav>
				</div>
			</div>	
			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
				<br><br>
				<div class="list-group section">
					<div id="sectionque" class="list-group-item"> 我的文章</a> </div>
					<div id="sectionrep" class="list-group-item active">最新回覆<span class="badge" th:text="${session.unreadCount}"></span></a> </div>
				</div>
			</div>
		</div>
	</div>
	<div w3-include-html="footer.html"></div>
<script>
	w3.includeHTML();
	const content = document.getElementById('que');
	const rep = document.getElementById('rep');
	const pageId = document.getElementById('pageId');
	let jsonData = "";
	//先取得網址字串
	var url = location.href;
	let memno = "";

	//再來用去尋找網址列中是否有資料傳遞(QueryString)
	if(url.indexOf('?')!=-1)
	{
		//在此直接將各自的參數資料切割放進ary中
		var ary = url.split('?')[1].split('&');
		
		//下迴圈去搜尋每個資料參數
		for(i=0;i<=ary.length-1;i++)
		{
			//如果資料名稱為id的話那就把他取出來
			if(ary[i].split('=')[0] == 'memno')
				memno = ary[i].split('=')[1];
		}
    
	}


	$(document).ready(function(){
		$.ajax({
				type:"POST",
				dataType:"json",
				async:false,
				url:"/CFA101G1/notify/notify.do",
				data:{
					"action":"getOneMem_For_Display",
					"receiver": memno
				},
				success: function (response) {
					str = "<hr><h4>我的通知<h4><hr>";
					$.each(response, function (index, item) {
						str += `<div class="media">
									<div class="media-body">
										<p class="media-heading">
											<span>${item.notifier_name} 回應文章 </span>
											<a href="question.html?id=${item.outerid}&creator=${item.receiver}" id="${item.id}">${item.outer_title}</a>
											<span class="label label-danger">未讀</span>
										</p>
									</div>
								</div>`
	
					});
					document.getElementById('rep').innerHTML = str;
				}
			});

		$("#sectionque").click(function(){
			$("#sectionrep").removeClass("active");
			$("#sectionque").addClass("active");
			$("#rep").empty();
			$.ajax({
				type:"POST",
				dataType:"json",
				url:"/CFA101G1/forumpost/forumpost.do",
				data:{
					"action":"getOneMem",
					"creator": memno
				},
				success: function (response) {
					jsonData = response;
					pagination(jsonData, 1);
				}
			});
		});
			
		$("#sectionrep").click(function(){
			$("#sectionque").removeClass("active");
			$("#sectionrep").addClass("active");
			$("#que").empty();
			$("#pageId").empty();
			$.ajax({
				type:"POST",
				dataType:"json",
				url:"/CFA101G1/notify/notify.do",
				data:{
					"action":"getOneMem_For_Display",
					"receiver": memno
				},
				success: function (response) {
					str = "<hr><h4>我的通知<h4><hr>";
					$.each(response, function (index, item) {
						if(item.status != 1){
							str += `<div class="media">
										<div class="media-body">
											<p class="media-heading">
												<span>${item.notifier_name} 回應文章 </span>
												<a href="question.html?id=${item.outerid}&creator=${item.receiver}">${item.outer_title}</a>
												<span class="label label-danger">未讀</span>
											</p>
										</div>
									</div>`
						}
					});
					document.getElementById('rep').innerHTML = str;
				}
			});
		});
			
		
		
	});

	function pagination(jsonData, nowPage) {
		console.log(nowPage);
		// 取得全部資料長度
		const dataTotal = jsonData.length;
		console.log(dataTotal);
		// 設定要顯示在畫面上的資料數量
		// 預設每一頁只顯示 5 筆資料。
		const perPage = 5;
		
		// page 按鈕總數量公式 總資料數量 / 每一頁要顯示的資料
		// 這邊要注意，因為有可能會出現餘數，所以要無條件進位。
		const pageTotal = Math.ceil(dataTotal / perPage);
		
		// 當前頁數，對應現在當前頁數
		let currentPage = nowPage;
		
		// 因為要避免當前頁數筆總頁數還要多，假設今天總頁數是 3 筆，就不可能是 4 或 5
		// 所以要在寫入一個判斷避免這種狀況。
		// 當"當前頁數"比"總頁數"大的時候，"當前頁數"就等於"總頁數"
		// 注意這一行在最前面並不是透過 nowPage 傳入賦予與 currentPage，所以才會寫這一個判斷式，但主要是預防一些無法預期的狀況，例如：nowPage 突然發神經？！
		if (currentPage > pageTotal) {
			currentPage = pageTotal;
		}
		
		// 由前面可知 最小數字為 6 ，所以用答案來回推公式。
		const minData = (currentPage * perPage) - perPage + 1 ;
		const maxData = (currentPage * perPage) ;
		
		// 先建立新陣列
		const data = [];
		// 這邊將會使用 ES6 forEach 做資料處理
		// 首先必須使用索引來判斷資料位子，所以要使用 index
		jsonData.forEach((item, index) => {
			// 獲取陣列索引，但因為索引是從 0 開始所以要 +1。
			const num = index + 1;
			// 這邊判斷式會稍微複雜一點
			// 當 num 比 minData 大且又小於 maxData 就push進去新陣列。
			if ( num >= minData && num <= maxData) {
			data.push(item);
			}
		})
		// 用物件方式來傳遞資料
		const page = {
			pageTotal,
			currentPage,
			hasPage: currentPage > 1,
			hasNext: currentPage < pageTotal,
		}
		console.log(page);
		displayData(data);
		pageBtn(page);
	}

	function displayData(data) {
		let str = "<hr><h4>我的文章<h4><hr>";
		data.forEach((item) => {
			str += `<div class="media-left">
						<a href="#"> <img class="media-object img-rounded"
							src="logo1.png">
						</a>
						</div>
						
						<div class="media-body">
						<h4 class="media-heading">
							<a href="question.html?id=${item.id}&creator=${item.creator}&viewCount=${item.viewCount}" id="${item.id}">${item.title}</a>
						</h4>
						<span>${(item.description.split(" "))[0]}...</span><br> 
						<span class="text-desc">
							<span>${item.commentCount}</span>個回覆
							<span>${item.viewCount}</span>次瀏覽，
							<span>${datetimeFormat(item.gmtCreate)}</span>
						</span>
					</div><br>`
		});
		content.innerHTML = str;
	}

	function pageBtn (page){
		let str = '';
		const total = page.pageTotal;
		
		if(page.hasPage) {
			str += `<li class="page-item"><a class="page-link" href="#" data-page="${Number(page.currentPage) - 1}">上一頁</a></li>`;
		} else {
			str += `<li class="page-item disabled"><span class="page-link">上一頁</span></li>`;
		}
		

		for(let i = 1; i <= total; i++){
			if(Number(page.currentPage) === i) {
			str +=`<li class="page-item active"><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
			} else {
			str +=`<li class="page-item"><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
			}
		};

		if(page.hasNext) {
			str += `<li class="page-item"><a class="page-link" href="#" data-page="${Number(page.currentPage) + 1}">下一頁</a></li>`;
		} else {
			str += `<li class="page-item disabled"><span class="page-link">下一頁</span></li>`;
		}

		pageId.innerHTML = str;
	}

	function switchPage(e){
		e.preventDefault();
		if(e.target.nodeName !== 'A') return;
		const page = e.target.dataset.page;
		pagination(jsonData, page);
	}

	pageId.addEventListener('click', switchPage);

	$(document).ready(function(){
		let search="";
		document.getElementById("search").addEventListener("blur",function(){
			search = $("#search").val();
		})

		document.getElementById("searchButton").addEventListener("click", function(){
			$.ajax({
				type: "POST",
				dataType: "json",
				url:"/CFA101G1/forumpost/forumpost.do",
				data:{
					"action":"search",
					"search": search
				},
				success:function(response){
					console.log(response);
					pagination(response, 1)
				}
			})
		});
	});
</script>
</body>
</html>