<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>CFA101G1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/CFA101G1</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <servlet>
    <servlet-name>AdminiServlet</servlet-name>
    <servlet-class>com.admini.controller.AdminiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminiServlet</servlet-name>
    <url-pattern>/admini/admini.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAuthrizationServlet</servlet-name>
    <servlet-class>com.adminauthrization.controller.AdminAuthrizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAuthrizationServlet</servlet-name>
    <url-pattern>/adminAuthrization/adminAuthrization.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAuthServlet</servlet-name>
    <servlet-class>com.adminauth.controller.AdminAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAuthServlet</servlet-name>
    <url-pattern>/adminAuth/adminAuth.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>idv.cfa101.websocketchat.controller.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/chat/chat.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.admini.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/backend/login.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ForumPostController</servlet-name>
    <servlet-class>com.forumpost.controller.ForumPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumPostController</servlet-name>
    <url-pattern>/forumpost/forumpost.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ForumPostReportController</servlet-name>
    <servlet-class>com.forumpostreport.controller.ForumPostReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumPostReportController</servlet-name>
    <url-pattern>/forumpostreport/forumpostreport.do</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>ForumMsgController</servlet-name>
    <servlet-class>com.forummsg.controller.ForumMsgServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ForumMsgController</servlet-name>
    <url-pattern>/forummsg/forummsg.do</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>ForumMsgReportController</servlet-name>
    <servlet-class>com.forummsgreport.controller.ForumMsgReportServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ForumMsgReportController</servlet-name>
    <url-pattern>/forummsgreport/forummsgreport.do</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>ForumPostCollectionServlet</servlet-name>
    <servlet-class>com.forumpostcollection.controller.ForumPostCollectionServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ForumPostCollectionServlet</servlet-name>
    <url-pattern>/forumpostcollection/forumpostcollection.do</url-pattern>
</servlet-mapping>
 <servlet>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>com.item.controller.ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/item/item.do</url-pattern>
  </servlet-mapping>
  
 
 <servlet>
    <servlet-name>ItemCollectionServlet</servlet-name>
    <servlet-class>com.itemcollection.controller.ItemCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemCollectionServlet</servlet-name>
    <url-pattern>/itemCollection/itemCollection.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ItemOrderServlet</servlet-name>
    <servlet-class>com.itemorder.controller.ItemOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemOrderServlet</servlet-name>
    <url-pattern>/itemOrder/itemOrder.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ItemDetailServlet</servlet-name>
    <servlet-class>com.itemdetail.controller.ItemDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDetailServlet</servlet-name>
    <url-pattern>/itemDetail/itemDetail.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ItemPicServlet</servlet-name>
    <servlet-class>com.itempic.controller.ItemPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemPicServlet</servlet-name>
    <url-pattern>/itemPic/itemPic.do</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>UsedServlet</servlet-name>
    <servlet-class>com.used.controller.UsedServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>UsedServlet</servlet-name>
    <url-pattern>/used/usedServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UsedPicServlet</servlet-name>
    <servlet-class>com.usedpic.controller.UsedPicServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>UsedPicServlet</servlet-name>
    <url-pattern>/usedPic/usedPicServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UsedMsgServlet</servlet-name>
    <servlet-class>com.usedmsg.controller.UsedMsgServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>UsedMsgServlet</servlet-name>
    <url-pattern>/usedMsg/usedMsgServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UsedReportServlet</servlet-name>
    <servlet-class>com.usedreport.controller.UsedReportServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>UsedReportServlet</servlet-name>
    <url-pattern>/usedReport/usedReportServlet.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DBGifReader4</servlet-name>
    <servlet-class>com.usedpic.controller.DBGifReader4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader4</servlet-name>
    <url-pattern>/used/DBGifReader4</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DBGifReader5</servlet-name>
    <servlet-class>com.usedpic.controller.DBGifReader5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader5</servlet-name>
    <url-pattern>/used/DBGifReader5</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BidServlet</servlet-name>
    <servlet-class>com.bid.controller.BidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidServlet</servlet-name>
    <url-pattern>/bid/bid.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BidCheckoutServlet</servlet-name>
    <servlet-class>com.bid.controller.BidCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidCheckoutServlet</servlet-name>
    <url-pattern>/bid/bidCheckout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BidSearch</servlet-name>
    <servlet-class>com.bid.controller.BidSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidSearch</servlet-name>
    <url-pattern>/bid/bidSearch.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader44</servlet-name>
    <servlet-class>com.bidpic.controller.DBGifReader4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader44</servlet-name>
    <url-pattern>/bidpic/DBGifReader4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBGifReader44</servlet-name>
    <url-pattern>/bidpic/readpic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BidPicServlet</servlet-name>
    <servlet-class>com.bidpic.controller.BidPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidPicServlet</servlet-name>
    <url-pattern>/bidpic/bidpic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BidRecordServlet</servlet-name>
    <servlet-class>com.bidrecord.controller.BidRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidRecordServlet</servlet-name>
    <url-pattern>/bidrecord/bidrecord.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BidRecordServlet2</servlet-name>
    <servlet-class>com.bidrecord.controller.BidRecordServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BidRecordServlet2</servlet-name>
    <url-pattern>/bidrecord/bidrecord2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleServlet2</servlet-name>
    <servlet-class>com.bid.controller.ScheduleServlet2</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet2</servlet-name>
    <url-pattern>/ScheduleServlet</url-pattern>
  </servlet-mapping>

<servlet>
		<servlet-name>AuctActServlet</servlet-name>
		<servlet-class>com.auctAct.controller.AuctActServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuctActServlet</servlet-name>
		<url-pattern>/auctAct/auctact.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuctActPicServlet</servlet-name>
		<servlet-class>com.auctPic.controller.AuctActPicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuctActPicServlet</servlet-name>
		<url-pattern>/auct/auctpic.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AuctActProdServlet</servlet-name>
		<servlet-class>com.auctActProd.controller.AuctActProdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuctActProdServlet</servlet-name>
		<url-pattern>/auctActProd/auctactprod.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuctOrderServlet</servlet-name>
		<servlet-class>com.auctOrder.controller.AuctOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuctOrderServlet</servlet-name>
		<url-pattern>/auctOrder/auctOrder.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TransRecServlet</servlet-name>
		<servlet-class>com.transRec.controller.TransRecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransRecServlet</servlet-name>
		<url-pattern>/transRec/transrec.do</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member/member.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RepairFormServlet</servlet-name>
    <servlet-class>com.repairform.controller.RepairFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepairFormServlet</servlet-name>
    <url-pattern>/RepairForm/RepairForm.do</url-pattern>
  </servlet-mapping>
  
     <servlet>
	<servlet-name>ItemIODServlet</servlet-name>
    <servlet-class>com.itemIOD.controller.ItemIODServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemIODServlet</servlet-name>
    <url-pattern>/itemIOD/itemIOD.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
	<servlet-name>ItemICServlet</servlet-name>
    <servlet-class>com.itemIC.controller.ItemICServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemICServlet</servlet-name>
    <url-pattern>/itemIC/itemIC.do</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.shopping.controller.shoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/shopping/shopping.do</url-pattern>
  </servlet-mapping>
  
<servlet>
    <servlet-name>ProductKindServlet</servlet-name>
    <servlet-class>com.productkind.controller.ProductKindServlet</servlet-class>
  </servlet>
<servlet-mapping>
    <servlet-name>ProductKindServlet</servlet-name>
    <url-pattern>/productkind/productkind.do</url-pattern>
</servlet-mapping>
  

</web-app>